@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mileage reports just got easier</h1>
    <p class="lead">Tracking mileage without the paper...just the paper trail. Keep track of your day using your mobile device. Generate a report online any time. </p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Value Added</h2>
        <p>
            TBD
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How it Works</h2>
        <p>TBD</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn More</h2>
        <p>TBD</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>