
@{
    ViewBag.Title = "Index";
}

<h2>Report</h2>

<form target="_blank">
    @Html.Label("Employee ID")
    <input type="text" name="employeeId" />
    <input type="submit" value="Generate Report" />
</form>

